<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>nhndeview_ngrinder</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>FakeCounterServlet</display-name>
    <servlet-name>FakeCounterServlet</servlet-name>
    <servlet-class>nhndeview.FakeCounterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FakeCounterServlet</servlet-name>
    <url-pattern>/count</url-pattern>
    <url-pattern>/index</url-pattern>
    <url-pattern>/register</url-pattern>
    <url-pattern>/submit</url-pattern>
    <url-pattern>/complete</url-pattern>
    <url-pattern>/reset</url-pattern>
  </servlet-mapping>
</web-app>